<% content_for :main_nav do %>
    <div class="navigation">
      <ul id="nav-bar" class="nav">
        <li class="this-games">
          <a href="#">Games</a>
        </li>
        <li class="this-profile">
          <a href="#">Profile</a>
        </li>
        <li class="this-store active">
          <a href="#">Store</a>
        </li>
        <li class="this-Settings">
          <a href="#">Settings</a>
        </li>
      </ul>
    </div>
<% end %>
